rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // For MedTrustHub documents
    match /MedTrustHub/{document=**} {
      // Everyone can read
      allow read: if true;
      // Only allow writes if the authenticated user's UID is allowed
      allow write: if request.auth != null &&
                   (request.auth.uid == "kDlBzw5WA5U0Nim8w3fzWFqfs2J2" ||
                    request.auth.uid == "AlqVuAEFbfVgA5kKQnkLKXBNls62" ||
                    request.auth.uid == "NUy7jEUqE2coyD4cDPapirvMA2x1" ||
                    request.auth.uid == "Xc8f4Qjvn5PDGcf46kl0R2KK6b13");//sujunto
    }
    
    // For LeMotorEnterprise documents
    match /LeMotorEnterprise/{document=**} {
      // Everyone can read
      allow read: if true;
      // Only allow writes if the authenticated user's UID is allowed
      allow write: if request.auth != null &&
                   (request.auth.uid == "kDlBzw5WA5U0Nim8w3fzWFqfs2J2" ||
                    request.auth.uid == "AlqVuAEFbfVgA5kKQnkLKXBNls62" ||
                    request.auth.uid == "NUy7jEUqE2coyD4cDPapirvMA2x1" ||
                    request.auth.uid == "71wiHoB4kPYjXmgz6l91FyMituH3"); //le motor clerk
    }
    // For WebWizards documents
    match /webwizards/{document=**} {
      // Everyone can read
      allow read: if true;
      // Only allow writes if the authenticated user's UID is allowed
      allow write: if request.auth != null &&
                   (request.auth.uid == "kDlBzw5WA5U0Nim8w3fzWFqfs2J2" ||
                    request.auth.uid == "AlqVuAEFbfVgA5kKQnkLKXBNls62" ||
                    request.auth.uid == "NUy7jEUqE2coyD4cDPapirvMA2x1" ||
                    request.auth.uid == "dxYmpOGb57VJy8GO5z5dZoiuFA83"); //webwizards gmail account
    }

    // For shebella documents
    match /shebella/{document=**} {
      // Everyone can read
      allow read: if true;
      // Only allow writes if the authenticated user's UID is allowed
      allow write: if request.auth != null &&
                   (request.auth.uid == "kDlBzw5WA5U0Nim8w3fzWFqfs2J2" ||
                    request.auth.uid == "AlqVuAEFbfVgA5kQnkLKXBNls62" ||
                    request.auth.uid == "NUy7jEUqE2coyD4cDPapirvMA2x1");
    }

    // For homestay documents
    match /homestay/{document=**} {
      // Everyone can read
      allow read: if true;
      // Only allow writes if the authenticated user's UID is allowed
      allow write: if request.auth != null &&
                   (request.auth.uid == "kDlBzw5WA5U0Nim8w3fzWFqfs2J2" ||
                    request.auth.uid == "AlqVuAEFbfVgA5kQnkLKXBNls62" ||
                    request.auth.uid == "NUy7jEUqE2coyD4cDPapirvMA2x1");
    }
  }
}
