.containerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
  overflow: none;
}

.quoteImage {
  width: 70%;
  border-radius: 1.5rem;
  border: 1px solid;
  transition: 0.2s ease-in-out;
}

.vjetImage {
  width: 30%;
  margin-top: 2rem;
}

.quoteImage:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
