.hamburger:hover,
.navlinks:hover {
  transform: scale(1.1);
  background: white;
  color: #00285c !important;
  border-radius: 13px;
}

.topbanner:hover {
  transform: scale(1.1);
}
.topbanner {
  transition: 0.8s ease-in-out;
}
.navlinks {
  transition: 0.3s ease-in-out;
}
@media (max-width: 430px) {
  .navlinks {
    font-size: 80% !important;
    padding: 3%;
  }
  .topbanner {
    width: 20% !important;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
  }
}
